main {
    padding: 10px;
    height: 80vh;
    margin: 10vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

form {
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

form button {
    width: 20%;
    background-color: lightyellow;
}

input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    color: white;
    outline: none;
    border: none;
    padding: 0 10px;
}