body {
  background-color: darkslategrey;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.App-header {
  background-color: lightslategrey;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}